@font-face {
  font-family: "roboto";
  src: url("/roboto.ttf");
}

* {
  font-family: "roboto";
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.shrink {
  transition: all 0.2s ease-in-out;
}

.shrink:hover {
  transform: scale(0.98);
}

.wave {
  -webkit-animation-name: wave-animation;
  animation-name: wave-animation;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0);
  }
  to {
    transform: rotate(0);
  }
}

.v-popper--theme-info-tooltip .v-popper__inner {
  background: #2a2a2b;
  color: white;
  padding: 5px 12px;
  font-size: 14px;
  border-radius: 8px;
}

.v-popper--theme-info-tooltip .v-popper__arrow-inner {
  visibility: hidden;
}

.v-popper--theme-info-tooltip .v-popper__arrow-outer {
  visibility: hidden;
}

.page-enter-active {
  transition: all 0.2s ease-out;
}

.page-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active {
  transition: all 0.2s ease-out;
}

.layout-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #dee2e519 radial-gradient(circle, transparent 1%, #dee2e519 1%)
    center/15000%;
}

.ripple:active {
  background-color: #dee2e582;
  background-size: 100%;
  transition: background 0s;
}
