.timeline a {
  width: fit-content;
}

.timeline-dot {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.timeline-content {
  padding-left: 40px;
}

.timeline-dot:before {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  left: 0;
  top: 4px;
}

.timeline-dot:after {
  bottom: 0;
  left: 6px;
  opacity: 0.4;
  top: 24px;
  width: 3px;
}

.timeline-dot:after,
.timeline-dot:before {
  background: rgb(136, 115, 115);
  content: "";
  display: block;
  position: absolute;
}
