.cursor-grab {
  cursor: grab;
}

.text-decoration-none {
  text-decoration: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.grow {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.shrink {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(0.98);
  }
}

.text-justify {
  text-align: justify;
}

@font-face {
  font-family: CascadiaCode;
  src: url(/CascadiaCode.ttf);
}
