<!DOCTYPE html>
<html>
  <head>
    <title>Matija Novosel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="robots" content="noindex" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <meta property="og:title" content="Matija Novosel" />
    <meta name="twitter:title" content="Matija Novosel" />
    <meta
      name="description"
      content="Matija Novosel - A fullstack developer from Croatia, I like making applications of all sorts."
    />
    <meta
      property="og:description"
      content="Matija Novosel - A fullstack developer from Croatia. I like developing applications of all sorts."
    />
    <meta
      name="twitter:description"
      content="Matija Novosel - A fullstack developer from Croatia. I like developing applications of all sorts."
    />
    <meta property="og:image" content="https://matijanovosel.com/lms.jpg" />
    <meta name="twitter:image" content="https://matijanovosel.com/lms.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://matijanovosel.com/" />
  </head>
  <body>
    <div id="q-app"></div>
  </body>
</html>
