@font-face {
  font-family: "CascadiaCode";
  src: url("/cascadia.ttf") format("truetype");
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "CascadiaCode";
  src: url("/cascadia.ttf");
}

body {
  height: 100%;
  transition: all 0.5s;
  color: black;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

#__nuxt {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.shrink {
  transition: all 0.2s ease-in-out;
}

.shrink:hover {
  transform: scale(0.98);
}

.v-popper--theme-info-tooltip .v-popper__inner {
  background: #2a2a2b;
  color: white;
  padding: 3px 12px;
  font-size: 18px;
  border-radius: 8px;
}

.v-popper--theme-info-tooltip .v-popper__arrow-inner {
  visibility: hidden;
}

.v-popper--theme-info-tooltip .v-popper__arrow-outer {
  visibility: hidden;
}

.page-enter-active {
  transition: all 0.2s ease-out;
}

.page-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #dee2e519 radial-gradient(circle, transparent 1%, #dee2e519 1%)
    center / 15000%;
}

.ripple:active {
  background-color: #dee2e582;
  background-size: 100%;
  transition: background 0s;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

.modal-enter-active .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.user-select-none {
  user-select: none;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  display: none;
}

.bounce {
  animation: bounce-in 0.8s ease-in-out forwards;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.dot {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: circle;
}

input[type="search"] {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px !important;
  appearance: none !important;
  border-radius: 0 px !important;
}

.flex-center {
  @apply flex justify-center items-center;
}

.row {
  @apply grid grid-cols-12;
}

.title {
  @apply text-2xl mt-6 font-bold mb-5 text-left;
}

.divider {
  border: 0.5px solid rgba(128, 128, 128, 0.318);
}
